<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/barang/list">Kembali</a>
  
  <form action="/barang/buat" method="post">
    <label for="inputName">name</label>
    <input id="inputName" type="text" name="name">
    <br>
    <label for="inputQty">qty</label>
    <input id="inputQty" type="number" name="qty">
    <br>
    <button type="submit">Tambah</button>
  </form>
</body>
</html>