<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/barang/buat">Tambah Barang</a>
  <table>
    <thead>
      <tr>
        <th>Nama</th>
        <th>QTY</th>
        <th>Tanggal Masuk</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < barang.length; i++ ) { %>
        <tr>
          <td><%= barang[i].nama %></td>
          <td><%= barang[i].qty %></td>
          <td><%= barang[i].tanggalMasuk %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>
